<h1>Listing digital_collections</h1>

<table>
  <thead>
    <tr>
      <th>Alias</th>
      <th>Name</th>
      <th>Thumbnail url</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @digital_collections.each do |digital_collection| %>
      <tr>
        <td><%= link_to digital_collection.collection_alias, path(digital_collection) %></td>
        <td><%= image_tag digital_collection.thumbnail_url %> <br/> <%= digital_collection.thumbnail_url %></td>
        <td><%= link_to digital_collection.name, path(digital_collection) %></td>
        <td><%= digital_collection.description %></td>
        <td><%= link_to 'Show', digital_collection %></td>
        <td><%= link_to 'Edit', edit_digital_collection_path(digital_collection) %></td>
        <td><%= link_to 'Destroy', digital_collection, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Digital collection', new_digital_collection_path %>
