<div class="container" id="digital_collection-show">
  <h1 class="collection-name">
    <%= @digital_collection.name %>
  </h1>
  <div class="collection-browse-link">
    <%= link_to raw("Browse This Collection <span class=\"glyphicon glyphicon-circle-arrow-right\"></span>"), path(@digital_collection) %>
  </div>


  <% if (@digital_collection.image_url) %>
    <div class="collection-image">
        <%= link_to (image_tag (@digital_collection.image_url)), path(@digital_collection) %>
    </div>
  <% end %>

  <p class="collection-thumbnail">
    <%= image_tag @digital_collection.thumbnail_url %>
    <%= @digital_collection.thumbnail_url %>
  </p>

  <h2>About this collection</h2>
  <span class="collection-description">
    <%= @digital_collection.description.html_safe %>
  </span>

  <p class="collection-path">
    <strong>Collection Path:</strong>
    <%= link_to path(@digital_collection), path(@digital_collection) %>
  </p>

  <p class="collection-alias">
    <strong>Collection ID:</strong>
    <%= @digital_collection.collection_alias %>
  </p>

  <span class="admin">
    <%= link_to 'Edit', edit_digital_collection_path(@digital_collection) %> |
    <%= link_to 'Back', digital_collections_path %>
  </span>
</div>
