<p>
  <strong>Collection Alias:</strong>
  <%= @digital_collection.collection_alias %>
</p>

<p>
  <strong>Name:</strong>
  <%= @digital_collection.name %>
</p>

<p>
  <strong>Image url:</strong>
  <%= image_tag @digital_collection.image_url %>
  <%= @digital_collection.image_url %>
</p>

<p>
  <strong>Thumbnail url:</strong>
  <%= image_tag @digital_collection.thumbnail_url %>
  <%= @digital_collection.thumbnail_url %>
</p>

<p>
  <strong>Description:</strong>
  <%= @digital_collection.description %>
</p>

<p>
  <strong>Collection Path:</strong>
  <%= link_to path(@digital_collection), path(@digital_collection) %>
</p>

<%= link_to 'Edit', edit_digital_collection_path(@digital_collection) %> |
<%= link_to 'Back', digital_collections_path %>
