<div class="featuredImages">
	<%= render_featured %>
</div>

<div class="homepage-intro">
	<h1><%= t('tul_cdm.homepage.welcome') %> <%= t('tul_cdm.general.application_name') %></h1>
	<p><%= t('tul_cdm.homepage.intro_text').html_safe %></p>
	<p><%= link_to t('tul_cdm.homepage.learn_more'), '/about' %></p>
</div>