<div class="featuredImages">
	<%= render_featured %>
</div>

<h1><%= t('tul_cdm.homepage.welcome') %> <%= t('tul_cdm.general.application_name') %></h1>
<p><%= t('tul_cdm.homepage.intro_text').html_safe %></p>
<p><%= link_to t('tul_cdm.homepage.learn_more'), '/about' %></p>

<h2><%= t('tul_cdm.homepage.collections_by_subject_heading') %></h2>
<%= t('tul_cdm.homepage.subject_listing').html_safe %>
