<% add_breadcrumb "Home", "#{root_path} " %>
<% add_breadcrumb t('tul_cdm.digital_collection.collections_title'), root_path + "digital_collections" %>
<% if @document["digital_collection_tesim"] %>
  <% @document["digital_collection_tesim"].each do |dc| %>
    <% add_breadcrumb dc, File.join(['/digital_collections', get_collection_alias(dc)]) %>
  <% end %>
<% end %>
<% add_breadcrumb @document["title_tesim"].to_sentence, request.path %>
<%= javascript_include_tag "bookreader" %>

<div id="content" class="col-md-9 col-sm-8 show-document">

  <%= render 'previous_next_doc' %>

   
<% @page_title = t('blacklight.search.show.title', :document_title => document_show_html_title, :application_name => application_name).html_safe -%>
<% content_for(:head) { render_link_rel_alternates } -%>
<%# this should be in a partial -%>

<div id="document" class="document <%= render_document_class %>" itemscope  itemtype="<%= @document.itemtype %>">
  <div id="doc_<%= @document.id.to_s.parameterize %>">
  
    <% # bookmark/folder functions -%>
    <%= render_object_partial @document -%>
    <%= render_acknowledgements @document -%>


  </div>
</div>
<dd><%= collection_link(@document) %></dd>
</div>

<div id="sidebar" class="col-md-3 col-sm-4">
   <%= render_document_sidebar_partial %>
</div>

</div>
