<div id="content" class="col-md-9 col-sm-8 show-document">

  <%= render 'previous_next_doc' %>

   
<% @page_title = t('blacklight.search.show.title', :document_title => document_show_html_title, :application_name => application_name).html_safe -%>
<% content_for(:head) { render_link_rel_alternates } -%>
<%# this should be in a partial -%>

<div id="document" class="document <%= render_document_class %>" itemscope  itemtype="<%= @document.itemtype %>">
  <div id="doc_<%= @document.id.to_s.parameterize %>">
  
    <% # bookmark/folder functions -%>
    <%= render_object_partial @document -%>

    <dl>
      <dt>Acknowledgements:</dt>
      <dl><%= @document["acknowledgment_tesim"].to_sentence if @document["acknowledgment_tesim"] %></dl>
      <dl><%= @document["embargo_statement"].to_sentence if @document["embargo_statement"] %></dl>
      <dl><%= @document["restriction_note"].to_sentence if @document["restriction_note"] %></dl>
      <dl><%= @document["ocr_note"].to_sentence if @document["ocr_note"] %></dl>
    </dl>
 
  </div>
</div>
<dd><%= set_collection_link(@document) %></dd>
</div>

<div id="sidebar" class="col-md-3 col-sm-4">
   <%= render_document_sidebar_partial %>
</div>

</div>
